@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('fundo-site.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.velcro {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

.velcro img{
    width: 250px;
    height: 200px;
    justify-content: center;
    display: flex;
    margin: auto;
}

.velcro h1{
    font-size: 26px;
    text-align: center;
}

.velcro .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.velcro .esqueci-senha {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.esqueci-senha label input{
    accent-color: #fff;
    margin-top: 3px;
}

.esqueci-senha a {
    color: #fff;
    text-decoration: none;
}

.esqueci-senha a:hover {
    text-decoration: underline;
}

.velcro .button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.velcro .button a {
    color: #333;
    text-decoration: none;
}

.velcro .registro {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registro p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registro p a:hover {
    text-decoration: underline;
}